.total {
  display: flex;
  justify-self: end;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 1rem;
}

.operations {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 0 2rem 0;
  
  & li {
    list-style-type: none;
  }
}