.header {
  color: #fff;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  text-align: center;
}