.header {
  background-color: #001529;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 3rem;
  
  & .headerTitle {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  & .btn {
    color: #fff;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 67px;
}

.footer {
  background-color: #626F7B;
  color: #fff;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 0.5rem 0;
  font-size: 16px;
}