.categoryTitle {
  display: flex;
  justify-content: flex-end;
}

.categoryName{
  text-transform: capitalize;
}

.total {
  display: flex;
  justify-self: end;
  margin-right: 1rem;
}

.addBtn {
  justify-self: start;
  margin-left: 1rem;
}